{% extends 'base.html' %}
{% include 'background.html' %}

{% block head %}
{% endblock %}


{% block body %}

<!-- Header -->
<div class="container-fluid bg-dark ">
    <div class="row">
        <div class="col-2 align-self-center text-center">
            <div class="dropdown left-centered">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Tabele
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for table in pages %}
                        <li><a class="dropdown-item" href="{{url_for(table)}}">{{table}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-2 align-self-center">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Query-uri
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="user_country">User tari</a></li>
                    <li><a class="dropdown-item" href="team_score">Echipe scor</a></li>
                </ul>
            </div>
        </div>
        <div class="col-7 align-self-center text-left">
            <img src="{{url_for('static', filename='images/ctflime.svg')}}" width="52%" height="auto" />
        </div>
    </div>
</div>


<!-- Tables and contents -->
<div class="jumbotron p-5">
    <h2 class="text-light">Gestioneaza <b>{{tableName}}</b>
        <!-- ADD -->
        <button type="button" class="btn btn-success float-end mr-1" data-bs-toggle="modal"
            data-bs-target="#addModal">Adauga &#x2795</button>
    </h2>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {%if 'cu succes!' in message %}
    <div class="alert alert-success alert-dismissable" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {{message}}
    </div>
    {%else %}
    <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {{message}}
    </div>
    {%endif %}
    {% endfor %}

    {% endif %}
    {% endwith %}

    <table id="main-table" class="table table-sm table-hover table-dark table-striped ">
        <thead>
            <tr data-sort-method="none">
                {% for name in columnNames %}
                <th scope="col" onclick=>{{name}}</th>
                {% endfor %}
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for row in tableData %}
            {% set ns = namespace(identifyData = '{') %}
            <tr id={{row}}>

                {% for name in columnNames %}
                {% set ns.identifyData = ns.identifyData ~'"' ~name~'"' ~ ':' ~ '"'~row[name]~'"' ~','%}
                <td>{{ row[name] }}</td>
                {% endfor %}

                <td width="6%">
                    {% set ns.identifyData = ns.identifyData | last_char_dic %}
                    {%set ns.identifyData = ns.identifyData | b64encode %}
                    <!-- UPDATE -->
                    <a class="btn btn-outline-warning btn-xs" data-bs-toggle="modal" data-bs-target="#editModal"
                        data-bs-rowvals={{ns.identifyData}}>&#9999</a>


                    <!-- DELETE -->
                    <a href="{{url_for('delete', entity=ns.identifyData)}}" class="btn btn-outline-danger btn-xs"
                        onclick="return confirm('Are you sure you want to continue?')">&#128465
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal Add -->
<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Adauga {{tableName}}</h4>
            </div>
            <div class="modal-body">
                <form action="{{url_for('add')}}" method="POST">
                    {% for name in columnNames %}
                    <div class="form-group"> <label>{{name}}:</label>
                        <input type="text" class="form-control" name={{name}} value="" required="1">
                    </div>
                    {% endfor %}
                    <div>ㅤ</div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" value="submit">Submit</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit -->
<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editeaza {{tableName}}</h4>
            </div>
            <div class="modal-body">
                <form action="{{url_for('update',)}}" method="POST">
                    {% for name in columnNames %}
                    <div class="form-group"> <label>{{name}}:</label>
                        <input type="text" class="form-control" name={{name}} id={{name}}>
                    </div>
                    {% endfor %}
                    <!--  SECRET NS -->
                    <div>
                        <input type="hidden" id="hiddenInfo" name="hiddenInfo">
                        ㅤ
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" value="submit">Submit</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}