{% extends 'base.html' %}
{% include 'background.html' %}

{% block head %}
{% endblock %}


{% block body %}
<!-- Header -->
<div class="container-fluid bg-dark ">
    <div class="row">
        <div class="col-2 align-self-center text-center">
            <div class="dropdown left-centered">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Tabele
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for table in pages %}
                        <li><a class="dropdown-item" href="{{url_for(table)}}">{{table}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-2 align-self-center">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Query-uri
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="user_country">User tari</a></li>
                    <li><a class="dropdown-item" href="team_score">Echipe scor</a></li>
                </ul>
            </div>
        </div>
        <div class="col-7 align-self-center text-left">
            <img src="{{url_for('static', filename='images/ctflime.svg')}}" width="52%" height="auto" />
        </div>
    </div>
</div>


<!-- Tables and contents -->
<div class="jumbotron p-5">
    <h2 class="text-light"><b>{{tableName}}</b>
    </h2>
    <table id="main-table" class="table table-sm table-hover table-dark table-striped ">
        <thead>
            <tr data-sort-method="none">
                {% for name in columnNames %}
                <th scope="col" onclick=>{{name}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in tableData %}
            <tr id={{row}}>
                {% for col in row %}
                <td>{{ col }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}