{% extends 'base.html' %}
{% include 'background.html' %}

{% block head %}
{% endblock %}

{% block body %}

{% include 'header.html' %}

<!-- Tables and contents -->
<div class="jumbotron p-5">
    <h2 class="text-light"><b>{{tableName}}</b>
    </h2>
    <table id="main-table" class="table table-sm table-hover table-dark table-striped ">
        <thead>
            <tr data-sort-method="none">
                {% for name in columnNames %}
                <th scope="col">{{name}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in tableData %}
            <tr id={{row}}>
                {% for col in row %}
                <td>{{ col }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}